!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReviewSpace
    %link{:href => "application.scss", :rel => "stylesheet"}/
  %body
    .chat-side
      = render "./shared/side-bar"
    .chat-main
      .chat-main__header
        .chat-main__header-content
          .chat-main__header-content-name
            メットたちの部屋
          %a.chat-main__header-content-edit-btn{:href => ""} edit
        .chat-main__header-members
          MEMBER:
          %i akamet
      .chat-main__body
        .chat-main__body--messages-list
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
          .chat-main__message
            .chat-main__message-name
              akamet
            .chat-main__message-createtime
              2019/01/01 00:00:00
            .chat-main__message-description
              テストメッセージ
      .chat-main__footer
        %form.chat-main__footer-form
          .chat-main__footer-body
            %input.description{:placeholder => "type a message", :type => "text"}/
            %label.chat-imgfile
              %input.image{:type => "file"}/
              %i.fa.fa-image
            %input.submit{:type => "submit", :value => "Send"}/
