$white: #FFFFFF;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999999;
$black: #434a54;
$alert_orange: #F35500;

$sidewidth: 300px;
$headerheight: 110px;
$mainwidth : calc(100% - 300px - 80px);
$footerwidth : calc(100% - 300px);
$bodyheight: calc(100% - 250px);
$footerheight: 90px;

$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;
