$white: #FFFFFF;
$lightblue: #38AEF0;
$navy: #2F3E51;
$darknavy: #253141;
$darkgrey: #333333;
$lightgrey: #999999;
$pearlgrey: #AAAAAA;
$lightblack: #434A54;
$orange: #F35500;

$sidewidth: 300px;
$mainwidth : calc(100% - 300px - 80px);
$footerwidth : calc(100% - 300px);
$headerheight: 110px;
$bodyheight: calc(100% - 250px);
$footerheight: 90px;
